<div class="page-header">
  <h3>Comments Expense Senator #<%= @comments_expense_senator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @comments_expense_senator.user_id %></dd>

      <dt>Body</dt>
      <dd><%= @comments_expense_senator.body %></dd>

      <dt>Red flag expense senator</dt>
      <dd><%= @comments_expense_senator.red_flag_expense_senator_id %></dd>

      <dt>Senator</dt>
      <dd><%= @comments_expense_senator.senator_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments_expense_senators" class="btn btn-primary">
        Back
      </a>
      <a href="/comments_expense_senators/<%= @comments_expense_senator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_comments_expense_senator/<%= @comments_expense_senator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
