<div class="page-header">
  <h1>
    Senators (<%= @senators.count %>)
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Party</th>
        <th>State</th>
        <th>Expenses ('11-'14)</th>
        <th>Actions</th>
        <th>Bookmark</th>
      </tr>

      <% @senators.each do |senator| %>
      <tr>
        <td><img src="<%=senator.picture%>" width="70"></td>
        <td><%= senator.name %></td>
        <td><%= senator.party %></td>
        <td><%= senator.state %></td>
        <td><%= number_to_currency(senator.expenses, unit: "R$", precision: 0) %></td>
        <td>
          <a href="/senators/<%= senator.id %>/expenses" class="btn btn-info">View expense detail</a>
          <a href="/senators/<%= senator.id %>" class="btn btn-primary">View contact details</a>
        </td>
        <td>
          <form action="/create_bookmarked_senator" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" name="senator_id" value="<%=senator.id%>">

            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <button class="btn btn-warning">
              Add to watchlist
            </button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
